{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>This is the home page</h1>

<form id="routeForm">
    <label for="origin">Origin:</label>
    <input type="text" id="origin" name="origin" required><br>
    
    <label for="destination">Destination:</label>
    <input type="text" id="destination" name="destination" required><br>
    
    <label for="departure_date">Departure Date:</label>
    <input type="date" id="departure_date" name="departure_date" required><br>
    
    <input type="checkbox" id="direct_flight" name="direct_flight" value="true">
    <label for="direct_flight">Direct Flight Only</label><br>
    
    <button type="submit">Search</button>
</form>

<div class=" mt-3 mb-3">



    <div id="output"></div>
    <script>
        document.getElementById('routeForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var form = event.target;
            var origin = form.elements.origin.value;
            var destination = form.elements.destination.value;
            var departureDate = form.elements.departure_date.value;
            var directFlight = form.elements.direct_flight.checked;

            var searchData = {
                origin: origin,
                destination: destination,
                departure_date: departureDate,
                direct_flight: directFlight
            };

            // Send data to backend for processing
            fetch('/get_route', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(searchData)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                console.log(data.direct_flight_data[0])
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle error
            });
        });
    </script>


    {% endblock %}