<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Usable Vouchers</title>
</head>
<body>
    <h1> Details of Flight</h1>
    <p>From: {{ source }}</p>
    <p>To: {{ destination }}</p>
    <p>Departure Date: {{ departure_date }}</p>
    <p>Airline: {{ airline }}</p>
    <p>Route: {{ route }}</p>
    
    <h1>Top Usable Vouchers</h1>
    <p>Passengers: {{ passengers }}</p>
    <p>Ticket Price: {{ ticket_price }}</p>
    <table>
        <tr>
            <th>Passengers</th>
            <th>Ticket Price</th>
            <th>Discount</th>
            <th>Weighted Score</th>
            <th>Savings</th>
        </tr>
        {% for voucher in vouchers %}
        <tr>
            <td>{{ voucher[0] }}</td>
            <td>{{ voucher[1] }}</td>
            <td>{{ voucher[2] }}</td>
            <td>{{ voucher[3] }}</td>
            <td>{{ voucher[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
